In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [31]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [32]:
df_fake =pd.read_csv("Fake.csv")
df_true =pd.read_csv("True.csv")

In [33]:
df_fake.head(10)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017
5   Racist Alabama Cops Brutalize Black Boy While...  ...  December 25, 2017
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...  December 23, 2017
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...  December 23, 2017
8   Former CIA Director Slams Trump Over UN Bully...  ...  December 22, 2017
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...  December 21, 2017

[10 rows x 4 columns]

In [34]:
df_true.head(10)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5  White House, Congress prepare for talks on spe...  ...  December 29, 2017
6  Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7  Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8         Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9  Alabama official to certify Senator-elect Jone...  ...  December 28, 2017

[10 rows x 4 columns]

In [35]:
df_fake["class"]= 0
df_true["class"]= 1

In [36]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

In [37]:
df_fake_manuel_testing = df_fake.tail(10)
for i in range(23480,21470, -1):
  df_fake.drop([i], axis=0, inplace=True)

In [38]:
df_true_manuel_testing = df_true.tail(10)
for i in range(21416,21406, -1):
    df_true.drop([i], axis=0, inplace=True)

In [40]:
df_manuel_testing= pd.concat([df_fake_manuel_testing, df_true_manuel_testing], axis=0)
df_manuel_testing.to_csv("manuel_testing.csv")

In [42]:
df_merge = pd.concat([df_fake, df_true], axis=0)
df_merge.head(10)

                                               title  ... class
0   Donald Trump Sends Out Embarrassing New Year’...  ...     0
1   Drunk Bragging Trump Staffer Started Russian ...  ...     0
2   Sheriff David Clarke Becomes An Internet Joke...  ...     0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4   Pope Francis Just Called Out Donald Trump Dur...  ...     0
5   Racist Alabama Cops Brutalize Black Boy While...  ...     0
6   Fresh Off The Golf Course, Trump Lashes Out A...  ...     0
7   Trump Said Some INSANELY Racist Stuff Inside ...  ...     0
8   Former CIA Director Slams Trump Over UN Bully...  ...     0
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...  ...     0

[10 rows x 5 columns]

In [43]:
df = df_merge.drop(["title","subject","date"], axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [44]:
df =df.sample(frac=1)

In [45]:
df.head(10)

                                                    text  class
18543  MOSCOW (Reuters) - Russia s FSB security servi...      1
1486   All Americans, and indeed the entire world, sh...      0
15874  Socialism doesn t work but I guess Venezuela d...      0
977    WASHINGTON (Reuters) - A federal grand jury on...      1
11021  A brave London tour bus passenger saw a Muslim...      0
19659   I think we are in a real moment like Nixon ??...      0
16351  Most of the documents are testimonies provided...      0
7495   WASHINGTON (Reuters) - Republican U.S. preside...      1
14468  HARARE (Reuters) - Hundreds of protesters seek...      1
2998   WASHINGTON (Reuters) - As the U.S. Supreme Cou...      1

In [46]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [48]:
def word_drop(text):
  text = text.lower()
  text = re.sub('\[.*?\]','',text)
  text = re.sub("\\W"," ",text)
  text = re.sub('https?://\S+|www\.\S+','',text)
  text = re.sub('<.*?>+','',text)
  text = re.sub('[%s]'% re.escape(string.punctuation), '', text)
  text = re.sub('\n','',text)
  text = re.sub('\w*\d\w*', '', text)
  return text

In [49]:
df["text"] = df["text"].apply(word_drop)

In [50]:
df.head(10)

                                                    text  class
18543  moscow  reuters    russia s fsb security servi...      1
1486   all americans  and indeed the entire world  sh...      0
15874  socialism doesn t work but i guess venezuela d...      0
977    washington  reuters    a federal grand jury on...      1
11021  a brave london tour bus passenger saw a muslim...      0
19659   i think we are in a real moment like nixon   ...      0
16351  most of the documents are testimonies provided...      0
7495   washington  reuters    republican u s  preside...      1
14468  harare  reuters    hundreds of protesters seek...      1
2998   washington  reuters    as the u s  supreme cou...      1

In [51]:
x=df["text"]
y=df["class"]

In [52]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size = .25)

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectrorization = TfidfVectorizer()
xv_train = vectrorization.fit_transform(x_train)
xv_test = vectrorization.transform(x_test)

#############LOGISTIC REGRESSION##################

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
LR.score(xv_test,y_test)

0.9857276119402985

In [72]:
pred_LR =LR.predict(xv_test)

In [73]:
print(classification_report(y_test, pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5376
           1       0.98      0.99      0.99      5344

    accuracy                           0.99     10720
   macro avg       0.99      0.99      0.99     10720
weighted avg       0.99      0.99      0.99     10720

############DECISION TREE CLASSIFICATION###############

In [74]:
from sklearn.tree import DecisionTreeClassifier

In [75]:
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [76]:
DT.score(xv_test,y_test)

0.9956156716417911

In [77]:
pred_DT =DT.predict(xv_test)

In [78]:
print(classification_report(y_test, pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5376
           1       1.00      1.00      1.00      5344

    accuracy                           1.00     10720
   macro avg       1.00      1.00      1.00     10720
weighted avg       1.00      1.00      1.00     10720

#########Gradient Boosting Classifier###############

In [79]:
from sklearn.ensemble import GradientBoostingClassifier

In [80]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [81]:
GBC.score(xv_test,y_test)

0.9963619402985074

In [82]:
pred_GBC =GBC.predict(xv_test)

In [83]:
print(classification_report(y_test, pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5376
           1       0.99      1.00      1.00      5344

    accuracy                           1.00     10720
   macro avg       1.00      1.00      1.00     10720
weighted avg       1.00      1.00      1.00     10720

**###MANUEL TESTING ##########**

In [111]:
def output_label(n):
  if n==0:
    return "Fake News"
  elif n==1:
    return "True News"
def manual_testing(news):
  testing_news = {"text":[news]}
  new_def_test = pd.DataFrame(testing_news)
  new_def_test["text"]= new_def_test["text"].apply(word_drop)
  new_x_test = new_def_test["text"]
  new_xv_test = vectrorization.transform(new_x_test)
  pred_LR= LR.predict(new_xv_test)
  pred_DT= DT.predict(new_xv_test)
  pred_GBC=GBC.predict(new_xv_test)

  return print("\n\nLR Prediction: {} \nDT Prediction: {}\nGBC Prediction: {}".format(output_label(pred_LR),output_label(pred_DT),output_label(pred_GBC)))
  #return print("\n\nLR Prediction: {}".format(output_label(pred_LR)))
  #return print("\n\nDT Prediction: {}".format(output_label(pred_DT)))
  #return print("\n\nGBC Prediction: {}".format(output_label(pred_GBC)))

In [116]:
news = str(input())
manual_testing(news)

As U.S. budget fight looms, Republicans flip their fiscal script


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News